.header{
    width: 96%;
    height: auto;
    min-height: 80px;
    margin:auto;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    border-radius: 10px;
}

