.boxCustom {
    height: 80vh;
    border-radius: 10px;
    width: 96.2%;
    background-color: white;
    margin: 40px auto 0;
    padding: 20px;
    overflow: auto;
    direction: rtl
}

.btnsRed,
.btnsGreen,
.btnsYellow,
.btnsBlack,
.btnsBlue,
.btnsGray {
    width: auto;
    padding: 0px 25px;
    height: 35px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    margin-right: 15px;
    background-color: white;
    cursor: pointer;

    &:hover {
        color: white !important;
    }
}

.btnsRed {
    border: 1px solid #F64E60 !important;
    color: #F64E60 !important;

    &:hover {
        background-color: #F64E60 !important;
    }
}

.btnsGreen {
    border: 1px solid #1BC5BD !important;
    color: #1BC5BD !important;

    &:hover {
        background-color: #1BC5BD !important;
    }
}

.btnsYellow {
    border: 1px solid #FFA800;
    color: #FFA800;

    &:hover {
        background-color: #FFA800;
    }
}

.btnsBlack {
    border: 1px solid #212121;

    &:hover {
        background-color: #212121;
    }
}

.btnsBlue {
    border: 1px solid #3699FF;
    color: #3699FF;

    &:hover {
        background-color: #3699FF;
    }
}

.btnsGray {
    border: 1px solid #707070;
    color: black;

    &:hover {
        background-color: #F5F5F9;
        color: black !important;
    }
}



.btnsRedBackground,
.btnsGreenBackground,
.btnsYellowBackground,
.btnsBlackBackground,
.btnsBlueBackground {
    width: auto;
    padding: 0px 25px;
    height: 35px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    margin-right: 15px;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: white !important;
    }
}

.btnsRedBackground {
    border: 1px solid #F64E60;
    background-color: #F64E60;

    &:hover {
        color: #F64E60;
    }
}

.btnsGreenBackground {
    border: 1px solid #1BC5BD !important;
    background-color: #1BC5BD !important;

    &:hover {
        color: #1BC5BD !important;
    }
}

.btnsYellowBackground {
    border: 1px solid #FFA800;
    background-color: #FFA800;

    &:hover {
        color: #FFA800;
    }
}

.btnsBlackBackground {
    border: 1px solid #212121;
    background-color: #212121;

    &:hover {
        color: #212121;
    }
}

.btnsBlueBackground {
    border: 1px solid #3699FF;
    background-color: #3699FF;

    &:hover {
        color: #3699FF;
    }
}


.quill {
    height: 100%;
    direction: ltr;
}

.ql-toolbar {
    display: flex;
    justify-content: space-around;
}

.ql-container {
    height: calc(100% - 42px) !important;
}


.btnBlueFilter {
    width: 150px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    position: relative;
    border: 1px solid #3699FF;
    color: #3699FF;
    background-color: white;
    cursor: pointer;

    &:hover {
        color: white;
        background-color: #3699FF;
    }

}

.MuiAccordionSummary-content {
    display: block !important;
}

.MuiAccordionSummary-content {
    margin: 0 !important;
    padding: 10px;
}

.disabledItems {
    pointer-events: none !important;
    color: #ccc !important;
    border: 1px solid #ccc !important
}

.se-wrapper-inner {
    overflow: auto !important;
    height: 300px !important;
}

.se-resizing-bar {
    display: none !important;
}

.se-wrapper {
    height: auto !important;
}

.ck-editor__top {
    position: sticky !important;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2000;
}


.ck.ck-reset_all {
    position: sticky !important;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2000;
}

.ck-sticky-panel__content_sticky {
    position: sticky !important;
    top: 0;
    left: 0;
    right: 0;
}

#editor {
    height: "400px"
}


.ck-sticky-panel__placeholder {
    height: 0 !important;
}

.ck .ck-editor__top .ck-reset_all {
    z-index: 2000 !important;
}

.ck-editor,
.ck-editor__editable_inline,
.ck-editor__main {
    height: 94% !important;
}


.grayColor {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
}


.auto fieldset {
    height: 46px;
    margin-top: 7px;
}

.textField fieldset {
    height: 46px;
    margin-top: 2px;
}

.anime {
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
    transform: translateY(-100px);
}

.animeFade {
    visibility: visible;
    opacity: 1;
    transition: all .5s;
    transform: translateY(0);
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hideScroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

h3 {
    margin: 0;
}

.text-danger {
    color: red !important;
    font-size: 11px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.btnsCompatition {
    font-size: 12px !important;
    width: auto !important;
    padding: 2px 12px !important;
    height: 40px !important;
    border-radius: 7px !important;
    text-align: center !important;
    font-weight: bold !important;
    margin-right: 2px !important;
    background-color: white !important;
    cursor: pointer !important;
    border: .5px solid #34568B !important;
    color: #34568B !important;
    white-space: nowrap;
    box-shadow: 1px 1px 5px grey;

    &:hover {
        color: white !important;
        background-color: #4470b6 !important;
    }
}
.MuiTablePagination-caption{
    direction: ltr !important;
}